.root {
    padding-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rootContainer {
    font-size: 16pt;
    padding: 2%;
    width: 60vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.field, .submit {
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 1%;
}

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.shown {
    display: block;
}
