/***********************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
    --textBlack: #000000;           /* Text Color - Black */
    --textWhite: #f2f2f2;           /* Text Color - White */

    --background: #ffffff;
    --white: #f6f6f6;
    --white2: #ececec;
    --white3: #e1e1e1;
    --white4: #d0d0d0;
    
    --primary: #3b9ad8;

    --blue: #94c4e4;
    --blue2: #3b9ad8;
    --blue3: #146499;
    --blue4: #1B262C;
}

body {
    height: 100vh;
    margin: 0;
    margin-right: 2vw;
    margin-left: 2vw;
    font-family: Montserrat, Arial;
    font-weight: 500;
    font-size: 18pt;
    color: var(--textBlack);
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

a {
    text-decoration: none;
    color: grey;
}

.flex {
    display: flex;
}

.padding {
    padding-top: 1%;
    padding-bottom: 1%;
}

.header {
    font-size: 22pt;
    font-weight: bold;
}

.container {
    margin: 5px;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--white);
    transition: 0.2s;
}

/***********************************************************************/