/***********************************************************************/

.side {
    width: 25%;
}

.activities {
    width: 75%;
}

/******************** Content - Side Menu: ********************/

.sideContainer {
    font-size: 16pt;
}

.sideHeader {
    font-weight: 600;
}

.petCheckbox {
    padding: 1vh;
    display: flex;
}

/******************** Content - Activities: ********************/

.contentContainer, .activityContainer {
    display: flex;
}

.activityContainer:hover {
    background-color: #e5e5e5;
}

.activity {
    width: 90%;
}

.action {
    width: 10%;
}

.action {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.action a {
    transition: 0.25s;
}

.done:hover {
    color: rgb(0, 150, 0);
}

.view:hover {
    color: rgb(0, 90, 150);
}

.secondRow {
    padding-top: 1%;
    font-size: 14pt;
}

.row {
    display: flex;
    width: 100%;
}

.cell {
    text-align: center;
    width: 100%;
}

.separator {
    padding-right: 1%;
    border-left: 1px solid black;
    height: inherit;
    width: 1%;
}

.hidden {
    display: none;
}


.sideRow {
    display: flex;
    width: 100%;
    font-size: 12pt;
}

.sideRow > div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.sideRow:first-child {
    font-weight: 700;
    font-size: 16pt;
}

/***********************************************************************/