/***********************************************************************/

.header {
    padding: 2%;
    padding-bottom: 5%;
    font-size: 34pt;
    font-weight: bold;
}

.mainContainer > div {
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    padding: 2%;
}

.actions {
    display: flex;
    width: 100%;
}

.actions > div {
    width: 100%;
    text-align: center;
    padding: 2%;
}

.login {
    border-right: 0.1px solid grey;
}

/***********************************************************************/