/***********************************************************************/

.header {
    font-size: 24pt;
    font-weight: bold;
}

.mainContainer {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;

    padding: 2%;
    border: 0.1px solid black;
}

.mainBorder {
    border: 0.1px solid black;
    border-radius: 10px;
}

/***********************************************************************/

.login, .signup {
    padding-top: 2%;
}

/***********************************************************************/