.navbar, .logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navCell a {
    font-family: Montserrat, Arial;
    font-weight: 300;
}

.logo {
    font-family: Pacifico, Arial;
}