/******************** General: ********************/

.activityContainer:hover {
    background-color: #e5e5e5;
}



/******************** Content - Pet Container: ********************/

.petTable {
    width: 70%;
}

.actions {
    width: 30%;
}

.petContainer {
    display: flex;
    height: auto;
}

.pet {
    width: 100%;
    display: flex;

    margin: 5px;
    padding: 1%;
    border-radius: 10px;
    background-color: #f2f2f2;
    transition: 0.2s;
}

.petContainer {
    width: 100%;
}



/******************** Content - Activity Container: ********************/

/********** Layout: **********/

.activityTable {
    width: 80%;
}

.actions {
    width: 15%;
}

.actions a {
    transition: 0.25s;
}

.activityContainer {
    display: flex;
    height: auto;
}

.row {
    display: flex;
    width: 100%;
}

.secondRow {
    padding-top: 1%;
    font-size: 14pt;
}

.cell {
    text-align: center;
    width: 100%;
}

.activities {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.activityContainer {
    width: 60%;
}

.separator {
    border-left: 1px solid black;
    height: inherit;
    width: 1%;
}

.activityContainer:target {
    animation-name: onTarget;
    animation-iteration-count: 1;
    animation-duration: 4s;
}

@keyframes onTarget {
    50% { background-color: var(--white3); }
}

/********** Actions: **********/

.actions, .add {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.done:hover {
    color: rgb(0, 150, 0);
}

.delete:hover {
    color: red;
}

.edit:hover {
    color: rgb(0, 90, 150);
}
