/***********************************************************************/

.table {
    width: 100%;
    display: block;
}

.row {
    width: 80%;
    display: flex;
}

.cell {
    text-align: left;
    width: 100%;
}

/***********************************************************************/

.petContainer {
    border: 0.1px solid black;
    border-radius: 10px;
    padding: 10px;
}