<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WelTail - Add an Activity</title>

        <!-- React Imports -->
        <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        <script crossorigin src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <!-- My Imports -->
        <link rel="stylesheet" href="/static/style/default.css">
        <link rel="stylesheet" href="/static/style/add.css">
        <script type="text/babel" src="/static/javascript/addActivity.js" defer></script>
        
    </head>
    <body>

        <div class="main root">
            <div class="container rootContainer">

                <div class="header">Add an activity</div>

                <form action='{{"/activity/add/{}/{}".format(user_id, pet_id)}}' method="post">

                    <div class="field">
                        <div>type</div>
                        <input type="text" name="type" placeholder="Activity category"/>
                    </div>
    
                    <div class="field">
                        <div>name</div>
                        <input type="text" name="name" placeholder="Activity Name"/>
                    </div>
    
                    <div class="field">
                        <div>nextAlert</div>
                        <input type="datetime-local" name="nextAlert"/>
                    </div>

                    <div id="root"></div>
                    
                    <div class="submit">
                        <input type="submit" value="Add activity"/>
                    </div>
                </form>
            </div>
        </div>

    </body>
</html>