<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WelTail - Add a Pet</title>

        <!-- React Imports -->
        <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        <script crossorigin src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <!-- My Imports -->
        <link rel="stylesheet" href="/static/style/default.css">
        <link rel="stylesheet" href="/static/style/add.css">
        <script type="text/babel" src="/static/javascript/addPet.js" defer></script>
        
    </head>
    <body>
        <div class="main">
            <div id="root" class="root"></div>
        </div>
    </body>
</html>