<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WelTail - Add a Pet</title>

        <!-- React Imports -->
        <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        <script crossorigin src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <!-- My Imports -->
        <link rel="stylesheet" href="/static/style/default.css">
        <script type="text/babel" src="/static/javascript/addPet.js" defer></script>
        
    </head>
    <body>

        <div class="mainContainer">
            <div class="">
                <a href="/profile">Back</a>
            </div>

            <div class="header">Add a Pet:</div>

            <div class="container">
                <form action='{{"/pet/add/{}".format(user_id)}}' method="post">
                    

                    
                    <div class="field">
                        <select name="species" id="species">
                            <option value="dog">Dog</option>
                            <option value="cat">Cat</option>
                        </select>
                    </div>

                    <div class="field">
                        <input type="text" name="name" placeholder="Name"/>
                    </div>
                    
                    <div class="field">
                        <select name="gender" id="gender">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                    
                    <div class="field">
                        <input type="date" name="birthDate" placeholder="Birth Date"/>
                    </div>
                    
                    <div class="field">
                        <input type="text" name="race" placeholder="Race"/>
                    </div>
                    
                    <div class="submit">
                        <input type="submit" value="Add pet"/>
                    </div>

                    <div class="test">
                        <div id="root"></div>
                    </div>


                </form>
            </div>
        </div>
    </body>
</html>