<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WelTail - Edit Pet</title>

        <!-- My Imports -->
        <link rel="stylesheet" href="/static/style/default.css">
        <!-- <link rel="stylesheet" href="/static/style/addEdit.css"> -->
    </head>
    <body>

        <div class="main">
            <div class="header">Edit Pet</div>

            <div class="container">
                <form action='{{"/pet/edit/{}/{}".format(pet.0.user_id, pet.0.pet_id)}}' method="post">
                    <div class="field">
                        <div>Type of pet</div>
                        {% if pet.0.species == 'dog' %}
                            <input type="radio" name="species" value="dog" checked>
                            <div>Dog</div>
                            <input type="radio" name="species" value="cat">
                            <div>Cat</div>
                        {% else %}
                            <input type="radio" name="species" value="dog">
                            <div>Dog</div>
                            <input type="radio" name="species" value="cat" checked>
                            <div>Cat</div>
                        {% endif %}
                    </div>

                    <div class="field">
                        <div>Name</div>
                        <input type="text" name="name" placeholder="Name" value="{{pet.0.name}}"/>
                    </div>
                    
                    <div class="field">
                        <div>Gender</div>
                        {% if pet.0.gender == 'male' %}
                            <input type="radio" name="gender" value="male" checked>
                            <div>Male</div>
                            <input type="radio" name="gender" value="female">
                            <div>Female</div>
                        {% else %}
                            <input type="radio" name="gender" value="male">
                            <div>Male</div>
                            <input type="radio" name="gender" value="female" checked>
                            <div>Female</div>
                        {% endif %}
                    </div>
                    
                    <div class="field">
                        <div>Date of birth</div>
                        <input type="date" name="birthDate" placeholder="Birth Date" value="{{pet.0.birthDate}}"/>
                    </div>
                    
                    <div class="field">
                        <div>Race</div>
                        <input type="text" name="race" placeholder="Race" value="{{pet.0.race}}"/>
                    </div>
                    
                    <div class="submit">
                        <input type="submit" value="Done"/>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>