<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WelTail - Edit Activity</title>

        <!-- React Imports -->
        <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        <script crossorigin src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <!-- My Imports -->
        <link rel="shortcut icon" href="/static/images/edit.png" type="image/x-icon">
        <link rel="stylesheet" href="/static/style/default.css">
        <link rel="stylesheet" href="/static/style/addEdit.css">
        <script type="text/babel" src="/static/javascript/editActivity.js" defer></script>
    </head>
    <body>

        <div class="root">

            <div class="container rootContainer">
                <div class="header pageHead">Edit activity</div>

                <form action='{{"/activity/edit/{}/{}".format(activity.user_id, activity.activity_id)}}' method="post">

                    <div class="field">
                        <div class="fieldHead">Activity Name</div>
                        <input type="text" name="name" placeholder="Activity Name" value='{{activity.name}}' required min="3">
                    </div>

                    <div class="field">
                        <div class="fieldHead">Category name</div>
                        <input type="text" name="type" placeholder="Category Name" value='{{activity.type}}' required min="3">
                    </div>
    
                    <div class="field">
                        <div class="fieldHead">Date</div>
                        <input type="datetime-local" name="nextAlert" value='{{activity.nextAlert}}' required>
                    </div>

                    <div id="root"></div>
                    
                    <div class="submit">
                        <input type="submit" value="Edit activity">
                    </div>
                </form>
            </div>
        </div>

    </body>
</html>