<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WelTail - Edit Pet</title>

        <!-- My Imports -->
        <link rel="shortcut icon" href="/static/images/edit.png" type="image/x-icon">
        <link rel="stylesheet" href="/static/style/default.css">
        <link rel="stylesheet" href="/static/style/addEdit.css">
    </head>
    <body>
        <div class="root">
            <div class="container rootContainer">
                <div class="header pageHead">Edit Pet</div>
    
                <form action='{{"/pet/edit/{}/{}".format(pet.0.user_id, pet.0.pet_id)}}' method="post">
                    <div class="field">
                        <div class="fieldHead">Type of pet</div>
    
                        <div class="flex species">
                            {% if pet.0.species == 'dog' %}
                                <div><input type="radio" name="species" value="dog" checked>Dog</div>
                                <div><input type="radio" name="species" value="cat">Cat</div>
                            {% else %}
                                <div><input type="radio" name="species" value="dog">Dog</div>
                                <div><input type="radio" name="species" value="cat" checked>Cat</div>
                            {% endif %}
                        </div>
                    </div>
    
                    <div class="field">
                        <div class="fieldHead">Name</div>
                        <input type="text" name="name" placeholder="Name" value="{{pet.0.name}}" required minlength="3"/>
                    </div>
                    
                    <div class="field">
                        <div class="fieldHead">Gender</div>
    
                        <div class="flex gender">
                            {% if pet.0.gender == 'male' %}
                                <div><input type="radio" name="gender" value="male" checked>Male</div>
                                <div><input type="radio" name="gender" value="female">Female</div>
                            {% else %}
                                <div><input type="radio" name="gender" value="male">Male</div>
                                <div><input type="radio" name="gender" value="female" checked>Female</div>
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="field">
                        <div class="fieldHead">Date of birth</div>
                        <input type="date" name="birthDate" placeholder="Birth Date" value="{{pet.0.birthDate}}" required/>
                    </div>
                    
                    <div class="field">
                        <div class="fieldHead">Race</div>
                        <input type="text" name="race" placeholder="Race" value="{{pet.0.race}}" required minlength="3"/>
                    </div>
                    
                    <div class="submit flexCenter">
                        <input type="submit" value="Done"/>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>