<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WelTail - Edit Pet</title>

        <!-- My Imports -->
        <link rel="stylesheet" href="/static/style/default.css">
        
    </head>
    <body>

        <div class="main">
            <div class="">
                <a href="/profile">Back</a>
            </div>

            <div class="header">Edit Pet:</div>

            <div class="container">
                <form action="" method="post">
                    <div class="field">
                        <select name="species" id="species">
                            {% if pet.0.species == 'dog' %}
                                <option value="dog" selected>Dog</option>
                                <option value="cat">Cat</option>
                            {% else %}
                                <option value="dog">Dog</option>
                                <option value="cat" selected>Cat</option>
                            {% endif %}
                        </select>
                    </div>

                    <div class="field">
                        <input type="text" name="name" placeholder="Name" value="{{pet.0.name}}"/>
                    </div>
                    
                    <div class="field">
                        <select name="gender" id="gender">
                            {% if pet.0.gender == 'male' %}
                                <option value="male" selected>Male</option>
                                <option value="female">Female</option>
                            {% else %}
                                <option value="male">Male</option>
                                <option value="female" selected>Female</option>
                            {% endif %}
                        </select>
                    </div>
                    
                    <div class="field">
                        <input type="date" name="birthDate" placeholder="Birth Date" value="{{pet.0.birthDate}}"/>
                    </div>
                    
                    <div class="field">
                        <input type="text" name="race" placeholder="Race" value="{{pet.0.race}}"/>
                    </div>
                    
                    <div class="submit">
                        <input type="submit" value="Done"/>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>