<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WelTail - My Feed</title>

        <!-- React Imports -->
        <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        <script crossorigin src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <!-- My Imports -->
        <link rel="stylesheet" href="/static/style/default.css">
        <link rel="stylesheet" href="/static/style/feed.css">
        <link rel="stylesheet" href="/static/style/navbar.css">
        <link rel="stylesheet" href="/static/style/mainGrid.css">
        <script type="text/babel" src="/static/javascript/feed.js" defer></script>
        
    </head>
    <body>

        <div class="main">
            <div class="logo">
                <div><img src="/static/images/paw.png"/> WelTail</div>
            </div>

            <div class="navbar padding">
                <div class="navCell tabSelected"><a href="/feed">Your feed</a></div>
                <div class="navCell"><a href="/profile">Your profile</a></div>
                <div class="navCell tabLogout"><a href="/logout">Logout</a></div>
            </div>

            <div class="content" id="root"></div>
        </div>

    </body>
</html>