<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WelTail - Home</title>

        <!-- Imports for react to start working -->
        <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        <script crossorigin src="https://unpkg.com/axios/dist/axios.min.js"></script> <!-- Axios -->

        <!-- My Imports -->
        <link rel="stylesheet" href="/static/style/default.css">
        <link rel="stylesheet" href="/static/style/home.css">
        
    </head>
    <body>

        <div class="mainContainer">
            <div class="section">
                <div class="header center">WelTail</div>

                <div class="actions">
                    <div class="login">
                        <a href="/login">
                            <div>Log in</div>
                        </a>
                    </div>

                    <div class="signup">
                        <a href="/signup">
                            <div>Sign up</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>