<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Title</title>

        <!-- Imports for react to start working -->
        <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        <script crossorigin src="https://unpkg.com/axios/dist/axios.min.js"></script> <!-- Axios -->

        <!-- My Imports -->
        <link rel="stylesheet" href="/static/style/main_style/default.css">
    </head>
    <body>

        <div className="mainContainer">
            <div className="header center">WelTail</div>

            <div class="">Description.</div>

            <a href="/login">
                <div className="login">Log in</div>
            </a>

            <a href="/signup">
                <div className="signup">Sign up</div>
            </a>
        </div>

    </body>
</html>