<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WelTail - Home</title>

        <!-- Imports for react to start working -->
        <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        <script crossorigin src="https://unpkg.com/axios/dist/axios.min.js"></script> <!-- Axios -->

        <!-- My Imports -->
        <link rel="stylesheet" href="/static/style/default.css">
        <link rel="stylesheet" href="/static/style/home.css">
        
    </head>
    <body>

        <div class="mainContainer mainBorder">
            <div class="header center">WelTail</div>

            <div class="actions">
                <a href="/login">
                    <div class="login">Log in</div>
                </a>

                <a href="/signup">
                    <div class="signup">Sign up</div>
                </a>
            </div>
        </div>

    </body>
</html>