<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WelTail - Log In</title>

        <!-- My Imports -->
        <link rel="stylesheet" href="/static/style/default.css">
        
    </head>
    <body>

        <div class="main">
            <div><a href="/">Go back</a></div>

            <div class="header">Log In</div>

            <form action="/login" method="post">
                <input type="text" name="username" placeholder="Username"/>
                <input type="password" name="password" placeholder="Password"/>
                <input type="submit" value="Log In"/>
            </form>

            <div class="message">
                {{message}}
            </div>

            <div>
                <div>Don't have an account yet?</div>
                <div><a href="/signup">Sign up</a></div>
            </div>
        </div>

    </body>
</html>