<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WelTail - Log In</title>

        <!-- My Imports -->
        <link rel="shortcut icon" href="/static/images/lock.png" type="image/x-icon">
        <link rel="stylesheet" href="/static/style/default.css">
        <link rel="stylesheet" href="/static/style/login.css">
        
    </head>
    <body>

        <div class="main">
            <div class="logo"><img src="/static/images/bigPaw.png"/> WelTail</div>

            <div class="title">Log In</div>

            <div class="inputs">
                <form action="/login" method="post">
                    <div><input type="text" name="username" placeholder="Username"/></div>
                    <div><input type="password" name="password" placeholder="Password"/></div>
                    <div><input type="submit" value="Log In"/></div>
                </form>
            </div>

            <div class="message">
                {{message}}
            </div>

            <div class="redirect">
                <div>Don't have an account yet? <a href="/signup">Sign up</a></div>
            </div>
        </div>

    </body>
</html>