<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WelTail - {{pet.0.name}}'s Profile</title>

        <!-- My Imports -->
        <link rel="shortcut icon" href="/static/images/paw.png" type="image/x-icon">
        <link rel="stylesheet" href="/static/style/default.css">
        <link rel="stylesheet" href="/static/style/petProfile.css">
        <link rel="stylesheet" href="/static/style/navbar.css">
        <link rel="stylesheet" href="/static/style/mainGrid.css">
    </head>
    <body>

        <div class="main">
            <div class="logo">
                <div><img src="/static/images/paw.png"/> WelTail</div>
            </div>

            <div class="navbar padding">
                <div class="navCell"><a href="/feed">Your feed</a></div>
                <div class="navCell"><a href="/profile">Your profile</a></div>
                <div class="navCell tabLogout"><a href="/logout">Logout</a></div>
            </div>

            <div class="content">
                <div class="petContainer">
                    <div class="pet">
                        <div class="petTable">
                            <div class="headRow row">
                                <div class="cell">
                                    {% if pet.0.species == "cat" %}
                                        <img src="/static/images/cat.png"/> {{pet.0.name}}
                                    {% else %}
                                        <img src="/static/images/dog.png"/> {{pet.0.name}}
                                    {% endif %}
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="cell">Gender</div>
                                <div class="cell">{{pet.0.gender}}</div>
                            </div>
        
                            <div class="row">
                                <div class="cell">BirthDate</div>
                                <div class="cell">{{pet.0.birthDate}}</div>
                            </div>
        
                            <div class="row">
                                <div class="cell">Race</div>
                                <div class="cell">{{pet.0.race}}</div>
                            </div>
                        </div>

                        <div class="petActions actions">
                            <div><a href='{{"/pet/delete/{}/{}".format(pet.0.user_id, pet.0.pet_id)}}'>Delete pet</a></div>
                            <div><a href='{{"/pet/edit/{}/{}".format(pet.0.user_id, pet.0.pet_id)}}'>Edit pet</a></div>
                            <div><a href='{{"/activity/add/{}/{}".format(pet.0.user_id, pet.0.pet_id)}}' class="add">Add activity</a></div>
                        </div>
                    </div>
                </div>

                {% if activities == 0 %}
                    <!-- If the user doesn't own any activities: -->
                    <div class="activities">
                        <div class="container activityContainer">
                            <div class="activityTable">
                                <div class="row">
                                    <div class="cell">{{pet.0.name}} doesn't have any activities assigned yet.</div>
                                </div>
                            </div>

                            <div class="actions">
                                <div><a href='{{"/activity/add/{}/{}".format(pet.0.user_id, pet.0.pet_id)}}' class="newActivity">Add activity</a></div>
                            </div>
                        </div>
                    </div>
                
                {% else %}
                    <div class="activities">
                        {% for activity in activities %}
                            <div class="container activityContainer" id={{activity.activity_id}}>
                                <div class="activityTable">
                                    <div class="row">
                                        <div class="cell">{{activity.name}}</div>
                                    </div>

                                    <div class="row secondRow">
                                        <div class="cell">{{activity.type}}</div>
                                        <div class="cell">{{activity.date}}</div>
                                        <div class="cell">{{activity.weekday}}, {{activity.hour}}:{{activity.minute}}</div>
                                        <div class="cell">{{activity.repeat}}</div>
                                    </div>
                                </div>

                                <div class="separator"></div>

                                <div class="actions">
                                    <div><a href='{{"/activity/done/{}/{}".format(pet.0.user_id, activity.activity_id)}}' class="done">Done</a></div>
                                </div>

                                <div class="actions">
                                    <div><a href='{{"/activity/edit/{}/{}".format(pet.0.user_id, activity.activity_id)}}' class="edit">Edit</a></div>
                                </div>

                                <div class="actions">
                                    <div><a href='{{"/activity/delete/{}/{}".format(pet.0.user_id, activity.activity_id)}}' class="delete">Delete</a></div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}


                
                
            </div>
        </div>
    </body>
</html>