<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WelTail - My Profile</title>

        <!-- Imports for react to start working -->
        <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        <script crossorigin src="https://unpkg.com/axios/dist/axios.min.js"></script> <!-- Axios -->

        <!-- My Imports -->
        <link rel="stylesheet" href="/static/style/default.css">
        <link rel="stylesheet" href="/static/style/profile.css">
        
    </head>
    <body>

        <div class="mainContainer">

            <div class="header padding">This is your profile page and your pets:</div>

            <a href="/feed" >
                <div>feed</div>
            </a>

            <br>

            <div class="pets">

                <div class="actions">
                    <a href='{{"/pet/add/{}".format(user.0.user_id)}}'>Add a pet</a>
                </div>

                {% for pet in pets %}
                <div class="petContainer">

                    <div class="left center">
                        <div class="table">
                            <div class="row">
                                <div class="cell">Name</div>
                                <div class="cell">{{pet.name}}</div>
                            </div>

                            <div class="row">
                                <div class="cell">Species</div>
                                <div class="cell">{{pet.species}}</div>
                            </div>

                            <div class="row">
                                <div class="cell">Gender</div>
                                <div class="cell">{{pet.gender}}</div>
                            </div>

                            <div class="row">
                                <div class="cell">BirthDate</div>
                                <div class="cell">{{pet.birthDate}}</div>
                            </div>

                            <div class="row">
                                <div class="cell">Race</div>
                                <div class="cell">{{pet.race}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="right center">
                        <div class="table">
                            <div class="row">
                                <div class="cell">Feeding Times</div>
                                <div class="cell">not set</div>
                            </div>

                            <div class="row">
                                <div class="cell">Grooming Times</div>
                                <div class="cell">not set</div>
                            </div>

                            <div class="row">
                                <div class="cell">Exercise Times</div>
                                <div class="cell">not set</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="actions">
                    <a href='{{"/pet/delete/{}/{}".format(pet.user_id, pet.pet_id)}}'>delete</a>
                    <a href='{{"/pet/edit/{}/{}".format(pet.user_id, pet.pet_id)}}'>Edit</a>
                </div>

                <br>
                {% endfor %}

            </div>
        </div>

    </body>
</html>