<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WelTail - Sign Up</title>

        <!-- Imports for react to start working -->
        <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        <script crossorigin src="https://unpkg.com/axios/dist/axios.min.js"></script> <!-- Axios -->

        <!-- My Imports -->
        <link rel="stylesheet" href="/static/style/default.css">
        <link rel="stylesheet" href="/static/style/login.css">
        
    </head>
    <body>

        <div class="mainContainer">
            <div class="section">
                <div class="header center">Sign Up</div>

                <div class="inputs">
                    <form action="/signup" method="post">
                        <div class="field username"><input type="text" name="username" placeholder="Username"/></div>
                        <div class="field password"><input type="password" name="password" placeholder="Password"/></div>
                        <div class="submit"><input type="submit" value="Sign Up"/></div>
                    </form>
                </div>
            </div>
        </div>

    </body>
</html>