<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WelTail - Sign Up</title>

        <!-- React Imports -->
        <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        <script crossorigin src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <!-- My Imports -->
        <link rel="stylesheet" href="/static/style/default.css">
        <script type="text/babel" src="/static/javascript/signup.js" defer></script>
    </head>
    <body>

        <div class="main">
            <div class="logo">Sign Up</div>

            <div id="root"></div>

            <div>
                <div>Already own an account?</div>
                <div><a href="/login">Log in</a></div>
            </div>
        </div>

    </body>
</html>