<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WelTail - Sign Up</title>

        <!-- Imports for react to start working -->
        <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        <script crossorigin src="https://unpkg.com/axios/dist/axios.min.js"></script> <!-- Axios -->

        <!-- My Imports -->
        <link rel="stylesheet" href="/static/style/default.css">
        <script type="text/babel" src="/static/javascript/signup.js" defer></script>
    </head>
    <body>

        <div class="mainContainer">
            <div class="header">Sign Up</div>

            <div class="" id="root"></div>
        </div>

    </body>
</html>