<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Title</title>

        <!-- Imports for react to start working -->
        <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        <script crossorigin src="https://unpkg.com/axios/dist/axios.min.js"></script> <!-- Axios -->

        <!-- My Imports -->
        <!-- <link rel="stylesheet" href="/static/style/main_style/home.css"> -->
        <!-- <script type="text/babel" src="/static/javascript/main_js/home.js" defer></script> -->
        <!-- <link rel="shortcut icon" href="/static/images/home.png" type="image/x-icon"> -->
    </head>
    <body>
        
        <div class="" id="root"></div>

    </body>
</html>